<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <title>Admin</title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
  </head>

  <body data-ma-header="teal">
    <!-- Header -->
    <%= render '/partials/header' %>
    
    <!-- Body -->
    <%= yield %>
    
    <%= javascript_include_tag 'application' %>
  </body>
  
</html>
